<!DOCTYPE html>
<html>
    <head>
        <link href="css/index.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        {{>header}}
        <h2>Hello guys, this page is created by me(@skvg)</h2>
        <h2>I am a computer science engineer who developed this page for developing my node.js skills</h2>
        <h2>For any queries, mail to "surendrakumar7621@gmail.com"</h2>
        <img src="images/skvg1.jpeg">
        {{>footer}}
    </body>
</html>