<!DOCTYPE html>
<html>
    <head>
        <link href="css/index.css" rel="stylesheet">
    </head>

    <body>
        {{>header}}
        <img src="images/skvg1.jpeg">
        {{>footer}}
    </body>
</html>