<!DOCTYPE html>
<html>
    <head>
        <link href="css/index.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        {{>header}}
        <h2>Sorry, We cant help you anymore....for more details,contact the admin</h2>
        {{>footer}}
    </body>
</html>